<form class={{cssClass}} autocomplete="off">
	<div class="numeneraoverhaul">
		<section class="numenera-sheet">
			<header>
				<div class="title">
					<input class="title__name" type="text" name="name" id="" value="{{data.name}}">
					<input class="title__descriptor" type="text" name="data.system.basic.descriptor"
						value="{{data.system.basic.descriptor}}" id="" placeholder="Descriptor">
					<h1 class="title__is-a">Is a</h1>
					<input class="title__type" type="text" name="data.system.basic.type"
						value="{{data.system.basic.type}}" id="" placeholder="Type">
					<h1 class="title__who">Who</h1>
					<input class="title__focus" type="text" name="data.system.basic.focus"
						value="{{data.system.basic.focus}}" id="" placeholder="Focus">
				</div>
				<div class="logo">
					<img src="\modules\NumeneraSheet\templates\Original Numenera Corebook Legacy Content - Monte Cook Games  Numenera.png"
						alt="logo" srcset="">
					<!-- <img src="" alt="logo"> -->
				</div>
				<div class="tierEffortXP">
					<div>
						<div class="circle-border"><input type="number" name="data.system.basic.tier" value="{{data.system.basic.tier}}"></div>
						<h1>TIER</h1>
					</div>
					<div>
						<div class="circle-border">
							<input type="number" name="data.system.basic.effort"
								value="{{data.system.basic.effort}}">
						</div>
						<h1>EFFORT</h1>
					</div>
					<div>
						<div class="circle-border"><input type="number" name="data.system.basic.xp" value="{{data.system.basic.xp}}"></div>
						<h1>XP</h1>
					</div>
				</div>
			</header>
			<section class="stats-section">
				<div class="column --one">
					<!-- MIGHT SPEED INTELLECT STATS -->
					<div class="card" id="mightSpeedIntellect">
						<div class="stats">
							<div class="stat" id="might">
								<button id="might-btn"
									class="header__button might-roll"><i
										class="fas fa-dice-d20"></i>Might</button>
								<div class="stat-graph">
									<div class="stat-graph__current">
										<input type="number"
											name="data.system.pools.might.value"
											value={{data.system.pools.might.value}}>
										<label
											for="data.system.pools.might.value">Current</label>
									</div>
									<div class="stat-graph__pool">
										<label
											for="data.system.pools.might.max">Pool</label>
										<input type="number"
											name="data.system.pools.might.max"
											value={{data.system.pools.might.max}}>
									</div>
									<div class="stat-graph__edge">
										<label
											for="data.system.pools.might.edge">Edge</label>
										<input type="number"
											name="data.system.pools.might.edge"
											value={{data.system.pools.might.edge}}>
									</div>
								</div>
							</div>
							<div class="stat" id="speed">
								<button id="speed-btn"
									class="header__button speed-roll"><i
										class="fas fa-dice-d20"></i>Speed</button>
								<div class="stat-graph">
									<div class="stat-graph__current">
										<input type="number"
											name="data.system.pools.speed.value"
											value={{data.system.pools.speed.value}}>
										<label
											for="data.system.pools.speed.value">Current</label>
									</div>
									<div class="stat-graph__pool">
										<label
											for="data.system.pools.speed.max">Pool</label>
										<input type="number"
											name="data.system.pools.speed.max"
											value={{data.system.pools.speed.max}}>
									</div>
									<div class="stat-graph__edge">
										<label
											for="data.system.pools.speed.edge">Edge</label>
										<input type="number"
											name="data.system.pools.speed.edge"
											value={{data.system.pools.speed.edge}}>
									</div>
								</div>
							</div>
							<div class="stat" id="intellect">
								<button id="intellect-btn"
									class="header__button intellect-roll"><i
										class="fas fa-dice-d20"></i>Intell</button>
								<div class="stat-graph">
									<div class="stat-graph__current">
										<input type="number"
											name="data.system.pools.intellect.value"
											value={{data.system.pools.intellect.value}}>
										<label
											for="data.system.pools.intellect.value">Current</label>
									</div>
									<div class="stat-graph__pool">
										<label
											for="data.system.pools.intellect.max">Pool</label>
										<input type="number"
											name="data.system.pools.intellect.max"
											value={{data.system.pools.intellect.max}}>
									</div>
									<div class="stat-graph__edge">
										<label
											for="data.system.pools.intellect.edge">Edge</label>
										<input type="number"
											name="data.system.pools.intellect.edge"
											value={{data.system.pools.intellect.edge}}>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Skills -->
					<div class="card" id="skills">
						<div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Skills</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button>
						</div>
						<div class="panel --extended .item-list-overhaul">
							<div class="flexrow">
								{{> systems/cyphersystem/templates/tabs/skills-tab/skills.html}}
							</div>
						</div>
					</div>
					<!-- ABILITIES -->
					<div class="card__wrapper">
						<div class="card" id="abilities">
							<div class="card__header">
								<div class="invisible__div"></div>
								<h1 class="card__title">Abilities</h1>
								<button class="expand-toggle"><i
										class="fas fa-chevron-circle-down"></i></button>
							</div>
							<div class="panel --extended item-list-overhaul">
									{{> systems/cyphersystem/templates/tabs/abilities-tab/abilities.html}}
							</div>
						</div>
					</div>


					<!--SETTINGS-->
					<div class="card__wrapper">
						<div class="card" id="numenera-sheet-settings">
							<div class="card__header">
								<div class="invisible__div"></div>
								<h1 class="card__title">Settings</h1>
								<button class="expand-toggle"><i
										class="fas fa-chevron-circle-down"></i></button>
							</div>
							<div class="panel --extended item-list-overhaul">
								<div class="flexrow">
									<ol class="items-list">
										<li class="item flexrow item-header">
											<div class="item-name">
												General Settings
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.general.gameMode.active"
													data-dtype="boolean"
													{{checked data.system.settings.general.gameMode.active}}
													disabled>&nbsp;Game Mode
											</div>
											<div class="item-quantity">
												<select class="auto-margin"
													name="data.system.settings.general.gameMode.current"
													style="width: 135px">
													{{#select data.system.settings.general.gameMode.current}}
													<option
														value="{{data.system.settings.general.gameMode.cypher}}">
														{{data.system.settings.general.gameMode.cypher}}
													</option>
													<option
														value="{{data.system.settings.general.gameMode.unmasked}}">
														{{data.system.settings.general.gameMode.unmasked}}
													</option>
													{{/select}}
												</select></div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.initiative.active"
													data-dtype="boolean"
													{{checked data.system.settings.initiative.active}}
													disabled>&nbsp;Initiative Bonus
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.settings.initiative.initiativeBonus"
													type="text"
													value="{{data.system.settings.initiative.initiativeBonus}}"
													data-dtype="Number"
													placeholder="0"
													style="width: auto;" />
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.additionalSentence.active"
													data-dtype="boolean"
													{{checked data.system.settings.additionalSentence.active}}>&nbsp;Additional Sentence Field
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.settings.additionalSentence.name"
													type="text"
													value="{{data.system.settings.additionalSentence.name}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.AdditionalSentence'}}"
													style="width: auto;" />
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.additionalPool.active"
													data-dtype="boolean"
													{{checked data.system.additionalPool.active}}>&nbsp;{{#if (eq data.system.settings.general.gameMode.current "Unmasked")}}{{localize 'CYPHERdata.system.AdditionalPoolUnmasked'}}{{else}}{{localize 'CYPHERdata.system.AdditionalPoolSetting'}}{{/if}}
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.additionalPool.additionalPoolName"
													type="text"
													value="{{data.system.additionalPool.additionalPoolName}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.AdditionalPoolSetting'}}"
													style="width: auto;" />
											</div>
										</li>
										{{#if (eq data.system.settings.general.gameMode.current "Unmasked")}}
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.additionalPool.teenActive"
													data-dtype="boolean"
													{{checked data.system.additionalPool.teenActive}}>&nbsp;{{localize 'CYPHERdata.system.AdditionalPoolTeen'}}
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.additionalPool.additionalTeenPoolName"
													type="text"
													value="{{data.system.additionalPool.additionalTeenPoolName}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.AdditionalPoolSetting'}}"
													style="width: auto;" />
											</div>
											{{/if}}
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.hideArchived"
													data-dtype="boolean"
													{{checked data.system.settings.hideArchived}}>&nbsp;{{localize 'CYPHERdata.system.HideArchive'}}
											</div>
										</li>
									</ol>
								</div>
								<div class="flexrow">
									<ol class="items-list">
										<li class="item flexrow item-header">
											<div class="item-name">
												{{localize 'CYPHERdata.system.SkillsTab'}}
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.skills.sortByRating"
													data-dtype="boolean"
													{{checked data.system.settings.skills.sortByRating}}>&nbsp;{{localize 'CYPHERdata.system.SortSkillsByRating'}}
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.powerShifts.active"
													data-dtype="boolean"
													{{checked data.system.settings.powerShifts.active}}>&nbsp;{{localize 'CYPHERdata.system.PowerShifts'}}
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.settings.powerShifts.powerShiftsName"
													type="text"
													value="{{data.system.settings.powerShifts.powerShiftsName}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.PowerShifts'}}"
													style="width: auto;" />
											</div>
										</li>
									</ol>
								</div>
								<div class="flexrow">
									<ol class="items-list">
										<li class="item flexrow item-header">
											<div class="item-name">
												{{localize 'CYPHERdata.system.CombatTab'}}
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.additionalRecoveries.active"
													data-dtype="boolean"
													{{checked data.system.settings.additionalRecoveries.active}}>&nbsp;{{localize 'CYPHERdata.system.AdditionalRecoveryRolls'}}
											</div>
											<div class="item-quantity">
												<select class="auto-margin"
													name="data.system.settings.additionalRecoveries.howManyRecoveries"
													style="width: 135px">
													{{#select data.system.settings.additionalRecoveries.howManyRecoveries}}
													<option
														value="1">
														1
													</option>
													<option
														value="2">
														2
													</option>
													<option
														value="3">
														3
													</option>
													<option
														value="4">
														4
													</option>
													{{/select}}
												</select></div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.lastingDamage.active"
													data-dtype="boolean"
													{{checked data.system.settings.lastingDamage.active}}>&nbsp;{{localize 'CYPHERdata.system.LastingAndPermanentDamageSetting'}}
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.ammo"
													data-dtype="boolean"
													{{checked data.system.settings.ammo}}>&nbsp;{{localize 'CYPHERdata.system.AmmoList'}}
											</div>
										</li>
									</ol>
								</div>
								<div class="flexrow">
									<ol class="items-list">
										<li class="item flexrow item-header">
											<div class="item-name">
												{{localize 'CYPHERdata.system.EquipmentTab'}}
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.equipment.currency.active"
													data-dtype="boolean"
													{{checked data.system.settings.equipment.currency.active}}>&nbsp;{{localize 'CYPHERdata.system.Currency'}}
											</div>
											<div class="item-quantity">
												<select class="auto-margin"
													name="data.system.settings.equipment.currency.howMany"
													style="width: 135px"
													type="Number">
													{{#select data.system.settings.equipment.currency.howMany}}
													<option
														value="1">
														1
													</option>
													<option
														value="2">
														2
													</option>
													<option
														value="3">
														3
													</option>
													<option
														value="4">
														4
													</option>
													<option
														value="5">
														5
													</option>
													<option
														value="6">
														6
													</option>
													{{/select}}
												</select></div>
										</li>
										{{#if data.system.settings.equipment.currency.active}}
										<li class="item flexrow item-settings"
											style="border-top-style: dashed">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.equipment.currency.namesHidden"
													data-dtype="boolean"
													{{checked data.system.settings.equipment.currency.namesHidden}}>&nbsp;{{localize 'CYPHERdata.system.HideCurrency'}}
											</div>
										</li>
										<li class="item flexrow item-settings"
											style="border-top-style: dashed">
											<div class="grid grid-6col"
												style="margin: 0px">
												<input class="auto-margin"
													name="data.system.settings.equipment.currency.name6"
													type="text"
													value="{{data.system.settings.equipment.currency.name6}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.Adamantine'}}"
													{{#unless (gte data.system.settings.equipment.currency.howMany 6)}}disabled>{{else}}>{{/unless}}
												<input class="auto-margin"
													name="data.system.settings.equipment.currency.name5"
													type="text"
													value="{{data.system.settings.equipment.currency.name5}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.Mithral'}}"
													{{#unless (gte data.system.settings.equipment.currency.howMany 5)}}disabled>{{else}}>{{/unless}}
												<input class="auto-margin"
													name="data.system.settings.equipment.currency.name4"
													type="text"
													value="{{data.system.settings.equipment.currency.name4}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.Platinum'}}"
													{{#unless (gte data.system.settings.equipment.currency.howMany 4)}}disabled>{{else}}>{{/unless}}
												<input class="auto-margin"
													name="data.system.settings.equipment.currency.name3"
													type="text"
													value="{{data.system.settings.equipment.currency.name3}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.Gold'}}"
													{{#unless (gte data.system.settings.equipment.currency.howMany 3)}}disabled>{{else}}>{{/unless}}
												<input class="auto-margin"
													name="data.system.settings.equipment.currency.name2"
													type="text"
													value="{{data.system.settings.equipment.currency.name2}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.Silver'}}"
													{{#unless (gte data.system.settings.equipment.currency.howMany 2)}}disabled>{{else}}>{{/unless}}
												<input class="auto-margin"
													name="data.system.settings.equipment.currency.name"
													type="text"
													value="{{data.system.settings.equipment.currency.name}}"
													data-dtype="String"
													placeholder="{{#if (eq data.system.settings.equipment.currency.howMany '1')}}{{localize 'CYPHERdata.system.Shins'}}{{else}}{{localize 'CYPHERdata.system.Copper'}}{{/if}}">
											</div>
										</li>
										{{/if}}
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.equipment.cyphers"
													data-dtype="boolean"
													checked
													disabled>&nbsp;{{localize 'CYPHERdata.system.Cyphers'}}
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.settings.equipment.cyphersName"
													type="text"
													value="{{data.system.settings.equipment.cyphersName}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.Cyphers'}}"
													style="width: auto;" />
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.equipment.artifacts.active"
													data-dtype="boolean"
													{{checked data.system.settings.equipment.artifacts.active}}>&nbsp;{{localize 'CYPHERdata.system.Artifacts'}}
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.settings.equipment.artifacts.label"
													type="text"
													value="{{data.system.settings.equipment.artifacts.label}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.Artifacts'}}"
													style="width: auto;" />
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.equipment.oddities.active"
													data-dtype="boolean"
													{{checked data.system.settings.equipment.oddities.active}}>&nbsp;{{localize 'CYPHERdata.system.Oddities'}}
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.settings.equipment.oddities.label"
													type="text"
													value="{{data.system.settings.equipment.oddities.label}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.Oddities'}}"
													style="width: auto;" />
											</div>
										</li>
										<li class="item flexrow item-settings">
											<div class="settings-list">
												<input type="checkbox"
													name="data.system.settings.equipment.materials.active"
													data-dtype="boolean"
													{{checked data.system.settings.equipment.materials.active}}>&nbsp;{{localize 'CYPHERdata.system.CraftingMaterial'}}
											</div>
											<div class="item-quantity">
												<input class="auto-margin"
													name="data.system.settings.equipment.material.label"
													type="text"
													value="{{data.system.settings.equipment.material.label}}"
													data-dtype="String"
													placeholder="{{localize 'CYPHERdata.system.IotumAndParts'}}"
													style="width: auto;" />
											</div>
										</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<!-- Description-->
					<div class="card sheet-editor" id="description">
						<h1 class="card__title">Description</h1>
						<!-- <div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Description</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button> -->
						<!-- </div> -->
						<div class="panel --extended">
							{{editor data.system.basic.description target="data.system.basic.description" button=true owner=owner editable=true}}
						</div>
					</div>
				</div>
				<div class="column --two">
					<!--portrait-->
					<div class="card" id="portrait">
						<div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Portrait</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button>
						</div>
						<div class="panel --extended">
							<img src="{{actor.img}}" data=edit="img" title="{{actor.name}}"
								alt="" class="profile-img">
						</div>
					</div>
					<!-- DAMAGE TRACK -->
					<div class="card" id="damageTrack">
						<h1 class="card__title">Damage Track</h1>
						<div class="panel">
							<div class="damage__slider">
								<span class="hale"></span>
							</div>
							<div class="special-damage-wrapper">
								<div class="item-damage">
									<select name="data.system.damage.damageTrack"
										style="min-width: 95px">
										{{#select data.system.damage.damageTrack}}
										<option value="Hale">
                                            Hale
										</option>
										<option value="Impaired">
                                            Impaired
										</option>
										<option value="Debilitated">
                                            Debilitated
										</option>
										<option value="Dead">
                                            Dead
										</option>
										{{/select}}
									</select>
								</div>
								<button class="rest color-brown"><i
										class="icon fa fa-heart"></i>Rest</button>
							</div>
						</div>
					</div>
					<!-- COMBAT -->
					<div class="card__wrapper">
						<div class="circle-input__wrapper corner-style">
							<div class="circle-border">
								<input class="circularInput --small" type="number"
									name="data.system.combat.armor.armorValueTotal"
									value={{data.system.combat.armor.armorValueTotal}} >
							</div>
							<h3 class="overlapLabel">Armor</h3>
						</div>
						<div class="card" id="combat">
							<div class="card__header">
								<div class="invisible__div"></div>
								<h1 class="card__title">Combat</h1>
								<button class="expand-toggle"><i
										class="fas fa-chevron-circle-down"></i></button>
							</div>
							<div class="panel --extended item-list-overhaul">
								<ol>
									{{> systems/cyphersystem/templates/tabs/combat-tab/attacks.html}}
									{{> systems/cyphersystem/templates/tabs/combat-tab/armor.html}}
									{{> systems/cyphersystem/templates/tabs/combat-tab/ammo.html}}

									{{#if data.system.settings.combat.lastingDamage.active}}
									{{> modules/NumeneraSheet/templates/tabs/combat-tab/lasting-damage.html}}
									{{/if}}
								</ol>
							</div>
						</div>
					</div>
					<!-- ADVANCEMENT -->
					<div class="card" id="advancement">
						<div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Advancement</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button>
						</div>
						<div class="panel --extended">
							<div class="tier" id="tier1">
								<h2>Tier 1</h2>
								<div class="tier__input-wrapper">
									<input class="advancement" type="text"
										placeholder="Tier 1 Adv. #1">
									<input class="advancement" type="text"
										placeholder="Tier 2 Adv. #2">
									<input class="advancement" type="text"
										placeholder="Tier 3 Adv. #3">
									<input class="advancement" type="text"
										placeholder="Tier 4 Adv. #4">
								</div>
							</div>
							<div class="tier" id="tier2">
								<h2>Tier 2</h2>
								<div class="tier__input-wrapper">
									<input class="advancement" type="text"
										placeholder="Tier 1 Adv. #1">
									<input class="advancement" type="text"
										placeholder="Tier 2 Adv. #2">
									<input class="advancement" type="text"
										placeholder="Tier 3 Adv. #3">
									<input class="advancement" type="text"
										placeholder="Tier 4 Adv. #4">
								</div>
							</div>
							<div class="tier" id="tier3">
								<h2>Tier 3</h2>
								<div class="tier__input-wrapper">
									<input class="advancement" type="text"
										placeholder="Tier 1 Adv. #1">
									<input class="advancement" type="text"
										placeholder="Tier 2 Adv. #2">
									<input class="advancement" type="text"
										placeholder="Tier 3 Adv. #3">
									<input class="advancement" type="text"
										placeholder="Tier 4 Adv. #4">
								</div>
							</div>
							<div class="tier" id="tier4">
								<h2>Tier 4</h2>
								<div class="tier__input-wrapper">
									<input class="advancement" type="text"
										placeholder="Tier 1 Adv. #1">
									<input class="advancement" type="text"
										placeholder="Tier 2 Adv. #2">
									<input class="advancement" type="text"
										placeholder="Tier 3 Adv. #3">
									<input class="advancement" type="text"
										placeholder="Tier 4 Adv. #4">
								</div>
							</div>
							<div class="tier" id="tier5">
								<h2>Tier 5</h2>
								<div class="tier__input-wrapper">
									<input class="advancement" type="text"
										placeholder="Tier 1 Adv. #1">
									<input class="advancement" type="text"
										placeholder="Tier 2 Adv. #2">
									<input class="advancement" type="text"
										placeholder="Tier 3 Adv. #3">
									<input class="advancement" type="text"
										placeholder="Tier 4 Adv. #4">
								</div>
							</div>
							<div class="tier" id="tier6">
								<h2>Tier 6</h2>
								<div class="tier__input-wrapper">
									<input class="advancement" type="text"
										placeholder="Tier 1 Adv. #1">
									<input class="advancement" type="text"
										placeholder="Tier 2 Adv. #2">
									<input class="advancement" type="text"
										placeholder="Tier 3 Adv. #3">
									<input class="advancement" type="text"
										placeholder="Tier 4 Adv. #4">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column --three">
					<!-- RECOVERY -->
					<div class="card recovery" id="recoveryPanel">
						<button id="recovery" class="header__button"><i
								class="fas fa-dice-d20"></i>Recovery</button>
						<div class="panel --extended">
							<div class="recovery__wrapper">
								<div class="circle-input__wrapper">
									<div class="circle-border">
										<input class="circle__input" type="text"
											name="data.system.combat.recoveries.recoveryRoll"
											value="{{data.system.combat.recoveries.recoveryRoll}}"
											data.system.dtype="String">
									</div>
									<!-- <h3 class="overlapLabel">1D6+</h3> -->
									<a class="item-control reset-recovery-rolls overlapLabel"
										title="Reset Recovery Rolls"><i
											class="fas fa-sync-alt"></i></a>
								</div>
								<div class="damage-track__wrapper">
									<label class="radio">
										<span class="radio__wrapper">
											<input type="checkbox"
												name="data.system.combat.recoveries.oneAction"
												id=""
												data-dtype="boolean"
												{{checked data.system.combat.recoveries.oneAction}}>
											<span
												class="custom__radio"></span>
										</span>
										<span class="radio__label">1
											Action</span>
									</label>
									<label class="radio">
										<span class="radio__wrapper">
											<input type="checkbox"
												name="data.system.combat.recoveries.tenMinutes"
												id=""
												data-dtype="boolean"
												{{checked data.system.combat.recoveries.tenMinutes}}>
											<span
												class="custom__radio"></span>
										</span>
										<span class="radio__label">10
											Mins</span>
									</label>
									<label class="radio">
										<span class="radio__wrapper">
											<input type="checkbox"
												name="data.system.combat.recoveries.oneHour"
												id=""
												data-dtype="boolean"
												{{checked data.system.combat.recoveries.oneHour}}>
											<span
												class="custom__radio"></span>
										</span>
										<span class="radio__label">1 Hour</span>
									</label>
									<label class="radio">
										<span class="radio__wrapper">
											<input type="checkbox"
												name="data.system.combat.recoveries.tenHours"
												id=""
												data-dtype="boolean"
												{{checked data.system.combat.recoveries.tenHours}}>
											<span
												class="custom__radio"></span>
										</span>
										<span class="radio__label">10
											Hours</span>
									</label>
								</div>
							</div>
						</div>

					</div>
					<!-- Cyphers -->
					<div class="card" id="cyphers">
						<div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Cyphers</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button>
						</div>
						<div class="panel --extended item-list-overhaul">
							{{> systems/cyphersystem/templates/tabs/equipment-tab/cyphers.html}}
						</div>
					</div>
					<div class="card" id="artifacts">
						<div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Artifacts</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button>
						</div>
						<div class="panel --extended item-list-overhaul">
							{{> systems/cyphersystem/templates/tabs/equipment-tab/artifacts.html}}
						</div>
					</div>
					<!-- EQUIPMENT -->
					<div class="card__wrapper">
						<div class="card" id="equipment">
							<div class="card__header">
								<div class="invisible__div"></div>
								<h1 class="card__title">Items & Oddities</h1>
								<button class="expand-toggle"><i
										class="fas fa-chevron-circle-down"></i></button>
							</div>
							<div class="panel --extended item-list-overhaul">
								{{#if data.system.settings.equipment.currency.active}}
								{{#if data.system.settings.equipment.currency.namesHidden}}
								{{> systems/cyphersystem/templates/tabs/equipment-tab/currenciesUpToSix.html}}
								{{else}}
								{{#if (gte data.system.settings.equipment.currency.howMany 4)}}
								{{> systems/cyphersystem/templates/tabs/equipment-tab/currenciesUpToSix.html}}
								{{else}}
								{{> systems/cyphersystem/templates/tabs/equipment-tab/currenciesUpToThree.html}}
								{{/if}}
								{{/if}}
								{{/if}}

								{{> systems/cyphersystem/templates/tabs/equipment-tab/equipment.html}}

								{{#if data.system.settings.equipment.oddities.active}}
								{{> systems/cyphersystem/templates/tabs/equipment-tab/oddities.html}}
								{{/if}}

								{{#if data.system.settings.equipment.materials.active}}
								{{> systems/cyphersystem/templates/tabs/equipment-tab/materials.html}}
								{{/if}}
							</div>


						</div>
					</div>
					<div class="card sheet-editor" id="notes">
						<h1 class="card__title">Notes</h1>
						<!-- <div class="card__header">
							<div class="invisible__div"></div> -->
							<!-- <h1 class="card__title">Notes</h1> -->
							<!-- <button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button> -->
						<!-- </div> -->
						<div class="panel --extended">
							{{editor data.system.notes target="data.system.notes" button=true owner=owner editable=true}}
						</div>
					</div>


				</div>










			</section>
			<section class="description">


			</section>
	</div>
</form>
