<form class={{cssClass}} autocomplete="off">
	<div class="numeneraoverhaul">
		<section class="numenera-sheet">
			<section class="stats-section">
				<div class="column --one">
					<div class="card">
						<h1 class="card__title">Stats</h1>
						<!-- <div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Skills</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button>
						</div> -->
						<div class="panel">

						</div>
					</div>
				</div>
				<div class="column --two">

				</div>
				<div class="column --three">

				</div>
			</section>
		</section>
	</div>
</form>