<form class={{cssClass}} autocomplete="off">
	<div class="numeneraoverhaul">
		<section class="numenera-sheet">
			<header>
				<div class="titles">
					<input class="title__name" type="text" name="name" id="" value="{{actor.name}}">
					<input class="title__descriptor" type="text" name="data.basic.descriptor"
						value="{{data.basic.descriptor}}" id="" placeholder="Descriptor">
					<h1 class="title__is-a">Is a</h1>
					<input class="title__type" type="text" name="data.basic.type"
						value="{{data.basic.type}}" id="" placeholder="Type">
					<h1 class="title__who">Who</h1>
					<input class="title__focus" type="text" name="data.basic.focus"
						value="{{data.basic.focus}}" id="" placeholder="Focus">
				</div>
				<div class="logo">
					<img src="" alt="logo">
				</div>
				<div class="tierEffortXP">
					<div>
						<input type="number" name="data.basic.tier" value="{{data.basic.tier}}">
						<h1>TIER</h1>
					</div>
					<div>
						<input type="number" name="data.basic.effort"
							value="{{data.basic.effort}}">
						<h1>EFFORT</h1>
					</div>
					<div>
						<input type="number" name="data.basic.xp" value="{{data.basic.xp}}">
						<h1>XP</h1>
					</div>
				</div>
			</header>
			<section class="stats-section">
				<div class="card">
					<div class="card__header">
						<h1 class="card__title">Skills</h1>
					</div>
					<div class="panel">
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
							Dolorum
							odit
							deserunt
							maiores
							excepturi et rem impedit animi sapiente rerum a
							doloremque esse,
							ducimus
							deleniti minus
							fugit blanditiis? Repellendus, nulla id?</p>
					</div>
				</div>
				<!-- MIGHT SPEED INTELLECT STATS -->
				<div class="card" id="mightSpeedIntellect">
					<div class="stats">
						<div class="stat" id="might">
							<h1>Might</h1>
							<div class="stat-graph">
								<div class="stat-graph__current">
									<input type="number"
										name="data.pools.might.value"
										value={{data.pools.might.value}}>
									<label
										for="data.pools.might.value">Current</label>
								</div>
								<div class="stat-graph__pool">
									<label for="data.pools.might.max">Pool</label>
									<input type="number" name="data.pools.might.max"
										value={{data.pools.might.max}}>
								</div>
								<div class="stat-graph__edge">
									<label for="data.pools.mightEdge">Edge</label>
									<input type="number" name="data.pools.mightEdge"
										value={{data.pools.mightEdge}}>
								</div>
							</div>
						</div>
						<div class="stat" id="speed">
							<h1>Speed</h1>
							<div class="stat-graph">
								<div class="stat-graph__current">
									<input type="number"
										name="data.pools.speed.value"
										value={{data.pools.speed.value}}>
									<label
										for="data.pools.speed.value">Current</label>
								</div>
								<div class="stat-graph__pool">
									<label for="data.pools.speed.max">Pool</label>
									<input type="number" name="data.pools.speed.max"
										value={{data.pools.speed.max}}>
								</div>
								<div class="stat-graph__edge">
									<label for="data.pools.speedEdge">Edge</label>
									<input type="number" name="data.pools.speedEdge"
										value={{data.pools.speedEdge}}>
								</div>
							</div>
						</div>
						<div class="stat" id="intellect">
							<h1>Intellect</h1>
							<div class="stat-graph">
								<div class="stat-graph__current">
									<input type="number"
										name="data.pools.intellect.value"
										value={{data.pools.intellect.value}}>
									<label
										for="data.pools.intellect.value">Current</label>
								</div>
								<div class="stat-graph__pool">
									<label
										for="data.pools.intellect.max">Pool</label>
									<input type="number"
										name="data.pools.intellect.max"
										value={{data.pools.intellect.max}}>
								</div>
								<div class="stat-graph__edge">
									<label
										for="data.pools.intellectEdge">Edge</label>
									<input type="number"
										name="data.pools.intellectEdge"
										value={{data.pools.intellectEdge}}>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum odit
						deserunt maiores
						excepturi et rem impedit animi sapiente rerum a doloremque esse, ducimus
						deleniti minus
						fugit blanditiis? Repellendus, nulla id?</p>
				</div>
				<!-- ADVANCEMENT -->
				<div class="card" id="advancement">
					<h1 class="card__title">Advancement</h1>
					<div class="tier panel --extended">
						<h2>Tier 1</h2>
						<div class="tier__input-wrapper">
							<input type="text" placeholder="Tier 1 Adv. #1">
							<input type="text" placeholder="Tier 2 Adv. #2">
							<input type="text" placeholder="Tier 3 Adv. #3">
							<input type="text" placeholder="Tier 4 Adv. #4">
						</div>
					</div>
				</div>
				<!-- DAMAGE TRACK -->
				<div class="card" id="damageTrack">
					<h1 class="card__title">Damage Track</h1>
					<div class="panel">
						<div class="damage-track__wrapper">
							<label class="radio">
								<span class="radio__wrapper">
									<input type="radio" name="radio" id=""
										checked="checked">
									<span class="custom__radio"></span>
								</span>
								<span class="radio__label">Hale</span>
							</label>
							<label class="radio">
								<span class="radio__wrapper">
									<input type="radio" name="radio" id="">
									<span class="custom__radio"></span>
								</span>
								<span class="radio__label">Impaired</span>
							</label>
							<label class="radio">
								<span class="radio__wrapper">
									<input type="radio" name="radio" id="">
									<span class="custom__radio"></span>
								</span>
								<span class="radio__label">Debilitated</span>
							</label>
							<label class="radio">
								<span class="radio__wrapper">
									<input type="radio" name="radio" id="">
									<span class="custom__radio"></span>
								</span>
								<span class="radio__label">Dead</span>
							</label>
						</div>
						<div class="special-damage-wrapper">
							<label class="special-damage-label" for="special-damage">Special
								Damage
								<input type="number" value=0 id="special-damage">
							</label>
							<button class="rest color-brown"><i
									class="icon fa fa-heart"></i>Rest</button>
						</div>
					</div>
				</div>
				<!-- BIO -->
				<div class="card" id="bio">
					<div class="card__header">
						<div class="invisible__div"></div>
						<h1 class="card__title">Background</h1>
						<button class="expand-toggle"><i
								class="fas fa-chevron-circle-down"></i></button>
					</div>
					<div class="panel">
						<textarea class="background" name="" id="" cols="100"
							rows="12"></textarea>
					</div>
				</div>
				<!-- ABILITIES -->
				<div class="card__wrapper">
					<div class="card" id="abilities">
						<div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Abilities</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button>
						</div>
						<div class="panel --extended item-list-overhaul">
							<ol class="items-list item-list-overhaul">
								<li class="item item-header">
									<div class="item-controls">
										<a class="item-control item-create"
											title="{{localize 'CYPHERSYSTEM.CreateItem'}}"
											data-type="ability"><i
												class="fas fa-plus"></i></a>
									</div>
								</li>
								{{#if (eq data.settings.gameMode.currentSheet "Teen")}}
								{{> systems/cyphersystem/templates/tabs/teenAbilities.html}}
								{{else}}
								{{> systems/cyphersystem/templates/tabs/abilities.html}}
								{{/if}}
							</ol>
						</div>
					</div>
				</div>
				<!-- COMBAT -->
				<div class="card__wrapper">
					<div class="circle-input__wrapper corner-style">
						<input class="circularInput --small" type="number"
							name="data.armor.armorValueTotal" value={{data.armor.armorValueTotal}}
							readonly>
							<h3 class="overlapLabel">Armor</h3>
					</div>
					<div class="card" id="combat">
						<div class="card__header">
							<div class="invisible__div"></div>
							<h1 class="card__title">Combat</h1>
							<button class="expand-toggle"><i
									class="fas fa-chevron-circle-down"></i></button>
						</div>
						<div class="panel --extended item-list-overhaul">
							<!-- <ol class="items-list item-list-overhaul">
								<li class="item item-header">
									<div class="item-controls">
										<a class="item-control item-create"
											title="{{localize 'CYPHERSYSTEM.CreateItem'}}"
											data-type="ability"><i
												class="fas fa-plus"></i></a>
									</div>
								</li> -->
							{{> systems/cyphersystem/templates/tabs/attacks.html}}
							{{#if data.settings.ammo}}
							{{> systems/cyphersystem/templates/tabs/ammo.html}}
							{{/if}}
							</ol>
						</div>
					</div>
				</div>
				<!-- RECOVERY -->
				<div class="card" id="recoveryPanel">
					<button id="recovery" class="header__button"><i
							class="fas fa-dice-d20"></i>Recovery</button>
					<div class="panel">
						<div class="circle-input__wrapper">
							<input class="circularInput" type="text"
								name="data.recoveries.recoveryRoll"
								value="{{data.recoveries.recoveryRoll}}"
								data.dtype="String">
							<h3 class="overlapLabel">1D6+</h3>
						</div>
						<div class="damage-track__wrapper">
							<label class="radio">
								<span class="radio__wrapper">
									<input type="checkbox"
										name="data.recoveries.oneAction" id=""
										data-dtype="boolean"
										{{checked data.recoveries.oneAction}}>
									<span class="custom__radio"></span>
								</span>
								<span class="radio__label">1 Action</span>
							</label>
							<label class="radio">
								<span class="radio__wrapper">
									<input type="checkbox"
										name="data.recoveries.tenMinutes" id=""
										data-dtype="boolean"
										{{checked data.recoveries.tenMinutes}}>
									<span class="custom__radio"></span>
								</span>
								<span class="radio__label">10 Mins</span>
							</label>
							<label class="radio">
								<span class="radio__wrapper">
									<input type="checkbox"
										name="data.recoveries.oneHour" id=""
										data-dtype="boolean"
										{{checked data.recoveries.oneHour}}>
									<span class="custom__radio"></span>
								</span>
								<span class="radio__label">1 Hour</span>
							</label>
							<label class="radio">
								<span class="radio__wrapper">
									<input type="checkbox"
										name="data.recoveries.tenHours" id=""
										data-dtype="boolean"
										{{checked data.recoveries.tenHours}}>
									<span class="custom__radio"></span>
								</span>
								<span class="radio__label">10 Hours</span>
							</label>
						</div>
					</div>

				</div>
				<div class="card__wrapper">
					<div class="card">
						<div class="card__header">
							<h1 class="card__title">Skills</h1>
						</div>
						<div class="panel">
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
								Dolorum
								odit
								deserunt
								maiores
								excepturi et rem impedit animi sapiente rerum a
								doloremque esse,
								ducimus
								deleniti minus
								fugit blanditiis? Repellendus, nulla id?</p>
						</div>
					</div>
				</div>
			</section>
	</div>
</form>