
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

$clr-gradient0: rgba(49, 44, 45, 0.95);
$clr-gradient1: rgba(114, 88, 71, 0.85);
$clr-gradient2: rgba(159, 120, 91, 0.75);
$clr-gradient3: rgba(176, 146, 123, 0.65);
$clr-gradient4: rgba(195, 171, 149, 0.5);
$clr-accent:  #d5a02d;
$clr-light: #e8e6e3;
$clr-panel: rgba(232, 230, 227, 0.85);
$ff-shadows: 'Shadows Into Light';
$ff-indie: 'Patrick Hand';
$font-weights:(
	"regular": 400,
	"medium": 500,
	"bold": 700
);