@import './fontsandvariables';


.app .window-app {
	width: min-content !important;
}

.window-app {
	width: max-content !important;
}

.window-app .window-content {
	// background: unset;
	height: 100%;
	width: 100%;
	overflow: auto;

	form {
		height: 100%;
	}
}

.numeneraoverhaul {
	min-width: 700px;
	min-height: 300px;

	.sheet-body {
		background: unset;
		height: 100%;
		width: 100%;

		// background: linear-gradient($clr-gradient0, $clr-gradient1, $clr-gradient2, $clr-gradient3, $clr-gradient4);
		form {
			height: 100%;
			width: 100%;
		}
	}

	.numenera-sheet {
		max-width: 1000px;
		height: 100%;
		width: 100%;
		background: linear-gradient($clr-gradient0, $clr-gradient1, $clr-gradient2, $clr-gradient3, $clr-gradient4), url("../images/SheetBG.jpg") !important;
		background-size: 100% 100%;
		color: $clr-gradient0;
	}

	section {
		.numenera-sheet {
			height: 100%;
			width: 100%;
			background: linear-gradient($clr-gradient0, $clr-gradient1, $clr-gradient2, $clr-gradient3, $clr-gradient4), url("../images/SheetBG.jpg") !important;
		}
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
		margin: 0;
		padding: 0;

	}


	.sheet {
		box-sizing: border-box;
		height: 100%;
		font-family: 'Shadows Into Light', cursive;
		color: $clr-gradient1;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	// input[type=text]:not(.circularInput){
	// // input[type=number]{
	// 	-webkit-appearance: none;
	// 	margin: 0;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	-moz-appearance: textfield;
	// 	border: 1px dotted $clr-gradient2;
	// 	background-color: transparent;
	// 	font-family: $ff-shadows, cursive;

	// }
	.dotted-textbox{
		-webkit-appearance: none;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		-moz-appearance: textfield;
		border: 1px dotted $clr-gradient2;
		background-color: transparent;
		font-family: $ff-shadows, cursive;
	}

	input[type=number] {
		font-family: 'Patrick Hand', cursive !important;
		color: $clr-gradient0;
		font-size: 1rem;
	}

	button {
		appearance: none;
		border: none;
		background-color: transparent;
		font-size: 1rem !important;
		font-family: $ff-shadows;
		text-transform: uppercase;
		width: min-content;
		cursor: pointer;

	}
	.header__button{
		display: flex;
		justify-content: center;
		align-items: baseline;
	}
	.header__button > i{
		margin-right: 0.5rem;
	}


	button:hover, button:active, button:focus{
		appearance: none;
		border: none;
		box-shadow: none;
		color: #d5a02d;
		font-weight: bold;
		text-shadow: 1px 1px 4px $clr-gradient2;
	}

	input[type="text"], input[type="number"], textarea{
		&:focus, &:hover, &:active{
			outline: none;
			background: none;
			box-shadow: 0px 0px 5px #d5a02d;
			background-color: white !important;
		}
	}

	.sheet-body {
		height: 100%;
		background: linear-gradient($clr-gradient0, $clr-gradient1, $clr-gradient2, $clr-gradient3, $clr-gradient4);
		/* display: grid; */
		/* grid-template-columns: 1fr 1fr 1fr; */
		/* grid-template-rows: repeat(1fr, 8) */
	}

	p {
		padding: 1rem;
		font-family: $ff-indie;
		// font-family: ff-indie; 'Indie Flower', cursive;
	}

	a {
		text-decoration: none
	}

	header {
		display: flex;
		align-items: center;
	}

	header h1 {
		color: $clr-light;
		font-size: 1.2rem;
	}

	label {
		text-transform: uppercase;
		font-family: $ff-shadows;
	}

	h1, .header__button {
		text-transform: uppercase;
		color: $clr-light;
		text-shadow: 3px 4px 4px $clr-gradient0;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-family: $ff-shadows;
		border-style: none;
		font-weight: bold;
	}

	h2 {
		font-size: 1rem;
		color: $clr-gradient1;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-family: $ff-shadows;
		border-style: none;
		font-weight: bold;
	}

	h3,
	h4,
	li {
		color: $clr-gradient1;
		font-size: 1rem;
		font-family: $ff-indie;
	}

	/* #endregion */
	.icon {
		margin-right: 0.2rem;
	}

	.title {
		min-width: 0;
		align-items: center;
		/* display: flex; */
		/* flex-direction: column; */
		width: 33%;
		flex: 0 1 auto;
		display: grid;
		grid-template-rows: 20% 20% 20%;
		grid-template-columns: 10% 60% 30%;
		grid-row-gap: 1rem;
		/* grid-column-gap: 4px; */
		margin: 0.5rem;
		/* padding: 1rem; */

		input{
			margin-inline: 0.5rem;
			min-width: 0;
			background-color: bisque;
			border-style: none;
			font-size: 1.5rem;
			text-align: center;
			font-family: $ff-indie;
		}
		&__name{
			grid-column: 2/4;
			grid-row: 1/2;
		}
		&__is-a{
			grid-column: 1/2;
			grid-row: 2/3;
		}
		&__descriptor{
			grid-column: 2/3;
			grid-row: 2/3;
		}
		&__type{
			grid-column: 3/4;
			grid-row: 2/3;
		}
		&__who{
			grid-column: 1/2;
			grid-row: 3/4;
		}
		&__focus{
			grid-column: 2/4;
			grid-row: 3/4;
		}
	}

	.stats-section {
		display: flex;
		flex-wrap: wrap;
		min-width: 800px;
		overflow: scroll;
	}

	.stats-section>div.card:first-child {
		border-top-left-radius: 30px;
	}

	.stats-section>div.card:nth-child(4n) {
		border-top-left-radius: 30px;
	}

	/* #region HEADER SECTION */
	.logo img {
		width: 100%;
		object-fit: contain;
	}

	.logo {
		width: 33%;
	}

	.tierEffortXP {
		width: 33%;
		flex: 1 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		text-align: center;
	}

	.tierEffortXP input {
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		border-style: none;
		background-color: $clr-light;
		box-shadow: inset 0 0 0 2px moccasin;
		text-align: center;
		font-size: 3rem;
		font-family: $ff-indie, cursive;
	}

	.circularInput {
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		border-style: none;
		background-color: $clr-light;
		box-shadow: inset 0 0 0 2px moccasin;
		text-align: center;
		font-size: 3rem;
		font-family: $ff-indie, cursive;
		
	}
	.roundedText{
		width: 4rem;
		height: 4rem;
		font-size: 2rem;
	}
	
	.--small{
		width: 3rem;
		height: 3rem;
	}
	.circle-input__wrapper {
		position: relative;
		text-align: center;
	}
	.corner-style{
		position: absolute;
		margin-top: -5px;
		left: -5px;
		z-index: 10;
	}

	.overlapLabel {
		position: absolute;
		// transform: translateY(-5rem);
		bottom: -0.5rem;
		left: 50%;
		transform: translateX(-50%);
		font-weight: bold;
		font-family: $ff-shadows, cursive;
	}

	/* #endregion */
	/* #region specific ids */

	.item-list-overhaul {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		width: 100%;
		overflow: visible;
	}
	@import './recovery';

	#stats {
		grid-row: 1/3;
	}

	

	/* #endregion */
	.card {
		position: relative;
		flex: 0 1 calc(33% - 0.2rem);
		width: 33%;
		height: 12rem;
		border-radius: 10px;
		border-top: 3px solid #e8e6e3;
		border-right: 1px dotted #e8e6e3;
		border-bottom: 1px dotted #e8e6e3;
		border-left: 1px dotted #e8e6e3;
		padding: 0.1rem 0.2rem 0.3rem 0.2rem;
		margin: 0.1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;

		.stats {
			margin: 0.5rem;
		}
		input[type="text"]{
			@extend .dotted-textbox;

			&.circle__input{
				@extend .circularInput;
			}
		}

	}
	.card__wrapper{
		width: 33%;
		position: relative;
	}
	.card__wrapper > .card{
		width: 100%;
	}

	.expanded {
		overflow: auto;
		height: max-content;
	}

	.card__title {
		text-transform: uppercase;
		font-size: 1rem;
		color: $clr-light;

	}

	.card__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.expand-toggle {
		display: inline;
		width: min-content;
		float: right;
		// justify-self: flex-end;
		// flex: 1;
		color: $clr-light;
		// align-self: flex-end;
	}

	.panel {
		position: relative;
		background-color: $clr-panel;
		border-radius: 5px;
		padding: 0.2rem;

		
	}
	.--extended{
		min-height: 100%;
		overflow: visible;
	}

	.panel-overlay{
		border-radius: 5px;
		background: linear-gradient(top,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0) 60%,
				rgba(236, 222, 209, 0.9) 70%,
				rgb(235, 220, 207) 100%);
		top: 0;
		left: 0;
		content: "";
		height: 12rem;
		// height: min(100%, 12rem);
		position: absolute;
		width: 100%;
		pointer-events: none;
	}
	.special-damage-wrapper{
		display: flex;
		justify-content: space-evenly;
	}
	.special-damage-label{
		display: flex;
		align-items: center;
	}
	#special-damage{
		width: 2em;
		flex: 0 1 auto;
	}
	.rest{
		display: flex;
		flex-wrap: nowrap;
		width: min-content;
		height: min-content;
		align-items: center;
		justify-content:center;
	}

	/* #region STATS  */
	.stats {
		display: flex;
		justify-content: space-between;
	}

	.stat>h1 {
		font-size: 1rem;
		text-align: center;
	}

	.stat+.stat {
		margin-left: 1rem;
	}

	.stat-graph {
		display: grid;
		grid-template-columns: repeat(minmax(0, 1fr), 2);
		grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
		font-weight: bold;
		color: rgba(114, 88, 71, 1);
	}

	.stat-graph>div {
		background-color: $clr-light;
		border-radius: 2px;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: stretch;
	}

	.stat-graph>div>input {
		height: 2.5rem;
		font-size: 2rem;
		max-width: 3.5rem;
		text-align: center;
		background-color: transparent;
		border-style: none;
		vertical-align: middle;
		font-family: $ff-shadows;
	}

	.stat-graph__current {
		grid-column: 1/3;
		grid-row: 1/2;
		border-bottom: 2px solid $clr-gradient3;
	}

	.stat-graph__current>input {
		color: #d5a02d;
		font-weight: bold;
	}

	.stat-graph__pool {
		grid-column: 1/2;
		grid-row: 2/3;
		border-right: 2px solid $clr-gradient3;
	}

	.stat-graph__pool input {
		font-size: 1.5rem !important;
		font-weight: normal !important;
		color: dimgray;
	}

	.stat-graph__edge input {
		font-size: 1.5rem !important;
		font-weight: normal !important;
		color: dimgray;
	}

	.stat-graph__edge {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	/* #endregion */

	/* #region Background */

	.background {
		width: 100%;
		background-color: transparent;
		border-style: none;
		height: auto;
	}

	/* #endregion */

	/* #region Damage Track */
	.damage-track__wrapper {
		display: flex;
		justify-content: space-around;
	}

	/* #endregion */
	/* #region radio button styles */
	.radio {
		display: flex;
		/* display: grid; */
		/* grid-template-columns: min-content auto; */
		/* grid-gap: 0.5em; */
	}

	.radio span {
		color: $clr-gradient1;
	}

	.radio__wrapper {
		position: relative;
		display: flex;
		align-items: center;
	}

	.radio__wrapper>input {
		// opacity: 0;
		// width: 0;
		// height: 0;
		cursor: pointer;
		margin-right: 0.2em;
		margin-left: 0.2em;
	}


	.custom__radio {
		display: grid;
		display: none; /*TODO: Take this out once you figure the custom radio buttons out*/
		place-items: center;
		top: 0;
		left: 0;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		border: 0.1em solid $clr-gradient1;
		margin-right: 0.2em;

	}

	[type="radio"]:not(:checked)+.custom__radio::before {
		content: "";
		position: absolute;
		width: 1rem;
		height: 1rem;
		box-shadow: inset 0.5rem 0.5 $clr-gradient3;
		border-radius: 50%;
		/* transform: scale(1); */

	}

	[type="radio"]:checked+.custom__radio::before {
		transform: scale(1);
		border-color: red;
		/* background: radial-gradient($clr-gradient2 70%, rgba(255 0, 0, 0) 51%) !important; */

	}

	/* endregion */


	/* #region   TIERS AND ADVANCEMENT */


	.tier {
		background-color: $clr-light;
	}

	.tier__input-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0rem 1rem;
	}

	.tier input {
		max-width: 50%;
		padding: 0.2rem 1rem;
		text-align: center;
	}

	.tier>h2 {
		font-size: 1rem;
		text-align: center;
		color: $clr-gradient1;
	}


	/* #endregion */

	/* #region random styles */
	.color-brown {
		color: $clr-gradient1;
	}

	.color-white {
		color: $clr-light;
	}

	/* #endregion */
}